body,
iframe,
img {
  width: 100%;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

.hidden {
  display: none!important;
}

.visible {
  visibility: visible!important;
  pointer-event: auto!important;
}

.unvisible {
  visibility: hidden!important;
  pointer-event: none!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400
}

.ie7 .clearfix {
  zoom: 1
}

strong {
  font-weight: 700
}

abbr,
acronym {
  border-bottom: 1px dotted #999;
  cursor: help
}

img {
  height: auto
}

.hide {
  position: absolute!important;
  left: -9999em!important
}

.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0
}

a[href],
input[type=checkbox],
input[type=radio],
label[for],
select {
  cursor: pointer
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

ol,
ul {
  list-style: none
}

blockquote {
  quotes: none
}

blockquote:after,
blockquote:before {
  content: '';
  content: none
}

img,
svg,
td,
th {
  vertical-align: top
}
iframe {
  border: 0;
}

@mixin flex_justify_content() {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}